@model IEnumerable<Post>

@{ }

<h1 class="blog-title">Welcome here, at my coding blog</h1>

<div>
    <ul class="list-group">
        @foreach (var post in Model)
        {
            var imagePath = $"/Image/{post.Image}";
            var tagsRight = post.Tags.Split(',', ' ').ToList();
        <li class="list-group-item">
            <a class="post-title" asp-controller="Home" asp-action="Post" asp-route-postId="@post.PostID">
                <u>@post.Title</u>
            </a>
            <div>
                @foreach (var tag in tagsRight)
                {
                    <a asp-controller="Home" asp-action="SearchTags" asp-route-searchString="@tag" class="tags">@tag</a>
                }
            </div>
            @if (imagePath != "/Image/")
            {
                <img class="main-img" src="@imagePath" />
            }
        </li>
        }
    </ul>
</div>
